body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;    
    color: aliceblue;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
}

.my_photo {
    background: url(imgaes/bFV89XKER4Y.jpg) no-repeat center center;
    background-size: 100%;
    width: 350px;
    height: 400px;
}

.nav_logo {
    background: url(imgaes/logo.png) no-repeat center center;
    background-size: 100%;
    width: 74px;
    height: 82px;
}

.title_photo {
}